body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
    box-sizing: border-box;
    padding: 1394-3563,610;
}
#nav{
    font-size: 16px;
 float: right;
 display: flex;
   gap: 1.5vw;
   box-sizing: border-box;
  margin: 40px;
border: 30px;
}
img{
    margin: 40px;
    width: 268px;
    height: 31px;
    vertical-align: middle;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
border: 44px;
}
.logo1{
    width: 40px;
    height: 40px;
    display: flex;
  align-items: center;
}
.p1{
    color: aqua;
    font-size: xx-large;
}
.p2{
    color: cadetblue;
    font-size: 16px;
}
.p3{
    color: cadetblue;
    font-size: 16px;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1.375em 1.25em 0;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 3.75rem auto 2.5rem;
    color: blue;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
}
#m3{
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-shadow: none;
    display: flex;
    appearance: auto;
    align-items: center;
    white-space-collapse: preserve;
    
    -webkit-rtl-ordering: logical;
    cursor: default;
    border-radius: 0px;
   
   
}
.twoparagraphs {
    color: #747474;
    font-size: 16px;
    display: flex;
    justify-content:space-around;
    align-items: center;

    width: 100%;

}
.twoparagraphs p{
    width: 36%;  text-align: justify;
}
.box1{
    display: flex;
    justify-content: center;
    color: #00b39b;
    font-size: 2.29rem;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;    line-height: 1.42857143;

}
.for1{
    background-color: #00ccb1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px
}
.for2{
  background-color: #3d83df;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}
.for3{
    background-color: #1b2734;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
 
}
.for1 select{
    background-color: #00ccb1;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.for2 select{
    background-color: #3d83df;;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.for3 select{
    background-color: #1b2734;;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
select{
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    align-items: center;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    -webkit-rtl-ordering: logical;
    cursor: default;
}
.big{
   width: 500px;
    height: 240px;
}
.box5{
    display: flex;
    margin-right: 50px;
    height: 100%;
    justify-content: space-around;
    margin-left: 100px;
    margin-top: -245px;
    
}
.first1{
    display: flex;
    flex-direction: column;
    margin-top: 159px;
    margin-right: 20px;
    height: 212px;
    width: 326px;

    
   
}
.navvv{
    position: sticky;
    top: 0;
    background-color: white;
}
.first2{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-right: 20px;
    height: 212px;
    width: 326px;
   
    
}
#interface{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    background-color: #d0faf4;
    padding-left: 50px;
    height: 582px;
}
#type{
width: 44px;
}
/* .part1{
    font-family: Work Sans, Arial, sans-serif;
    padding-top: 60px;
} */


#container{
display: flex;
justify-content: center;


}
.text{
    font-size: 2.1428571429em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
}
.text2{
    margin: 1.6em 0;
    line-height: 1.7142857143;
    text-align: center;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
}

.text3{
    margin: 0 0 10px;
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px
   
}
.image1{
  
    display: flex;

    gap: 4rem;
    flex-wrap: wrap;
    width: 1000px;
}
.tout{
    width: 60px;
}
    

.section6{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5cm;
    justify-content: center;
}
.country {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    /* padding-left: 150px; */
    /* padding-right: 150px; */
}

.image2{
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
       width: 311px;
    height: 311px;
    
}
.buttons :hover{
    display: flex;
    justify-content: space-between;
}
.section6 div{
    border-radius: 3%;
    margin: 0.44%;
}
   
.

.section6 div{
    border-radius: 3%;
    margin: 0.44%;
}
.section7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section7 button {
    margin-left: 120px;
    background-color: #3d83df;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
    text-align: center;
    border: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 12px;
    font: inherit;
    margin: 0;
    overflow: visible;
    -webkit-appearance: button;
    cursor: pointer;
    line-height: inherit;
}
.section7 h1{


    font-size: 2.1428571429em;
    color: #333;
    margin-bottom: 0.75em;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    text-align: center;
    margin-top: 20px;
    line-height: 1.1;
    margin: 0.67em 0;
    display: flex;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}
footer{
    text-align: center;
    margin-top: 100px;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    color: #ababab;
    display: block;
}
.section3{
    display: flex;
    
    width: 100%;
    justify-content: center;
    align-items: center;
}
.ba{
    width:250px;
    height: 300px;
    margin: 20px
    ;
    background-color: #fff;
}
